/* Empty. Add your own CSS if you like */
img{
  height: 200px;
  width: 200px;
}
.profile-pic{
  margin-top: 20px;
}
.stats{
  margin: 10px auto 0;
  display: block;
  width: 120px;
}
.profile-pic img{
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  border: 1px solid black;
}
.profile-name{
  text-align: center;
  margin-top: 20px;
}
.social-container{
  text-align: center;
}
.recent-activity{
  margin-top: 20px;
  background-color: red;
}
.accept{
  z-index: 100;
}
.social-icon{
  position: absolute;
  top: 20px;
}
.bubble {
  position: relative;
  width: 100%;
  min-height: 50px;
  padding: 1px;
  background: #2F2432;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
  margin-bottom: 5px;
}
.text{
  color: #FFFFFF;
  text-align: justify;
  font-weight: bold;
}
#chat-background {
  background: #131010;
}
.completedTask{
  font-weight: bold;
  color: green;
}
.sideNav{
  padding: 0;
}
/*.taskCom{
	color: #d9d9d9;
	text-decoration: line-through;
}*/
.messageFoot, .messageFoot2{
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
}
.messageInput{
  overflow: auto;
  max-height: 100px;
}
.messageBubble{
  border: 3px solid black;
  border-radius: 5px;
  background-color: aliceblue;
  color: black;
  font-size: 20px;
}
p.task{
  word-wrap; break-word;
}
.facebook{
  background-color: black;
  width: 40px;
  height: 47px;
  margin: 0;
}
.buttonParent{
  display: block;
  padding-left: 0;
}
body { text-align: center; padding: 40px; background: #F5F5F5; }
.container { width: 500px; text-align: center; margin: auto;}
.copyright { margin-top: 50px; font-size: 12px; text-transform: uppercase; }
.copyright a { text-decoration: none; padding: 5px;background: #c0392b; color: #FFFFFF; }
.copyright a:hover { background: transparent; color: #c0392b; }

.login {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding-right: 30px;
  padding-left: 70px;
  position: relative;
  background-color:rgb(41,127,184);
  color:rgb(255,255,255);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;


  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow:0px 1px 0px rgba(0,0,0,0.5);
-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";zoom:1;
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);

  -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
}

.login span {
  position: absolute;
  left: 0;
  width: 50px;
  background-color:rgba(0,0,0,0.5);

  -webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
border-right: 1px solid  rgba(0,0,0,0.15);
}

.login:hover span, .login.active span {
  background-color:rgb(0,102,26);
  border-right: 1px solid  rgba(0,0,0,0.3);
}

.login:active {
  margin-top: 2px;
  margin-bottom: 13px;

  -moz-box-shadow:0px 1px 0px rgba(255,255,255,0.5);
-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.5);
box-shadow:0px 1px 0px rgba(255,255,255,0.5);
-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true)";
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true);
}

.td-cards {
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}

.td-card {
  position: absolute;
  width: 100%;
  display: block;
}

.td-card img {
  max-width: 100%;
  max-height: 100%;
}

.td-card__overlay {
  position: absolute;
  top: 50%;
  z-index: 10;
  opacity: 0;
  font-size: 20px;
  padding: 20px;
  margin-top: -30px;
  background: rgba(255,255,255,0.8);
}

.td-card__overlay--like {
  color: green;
  left: 0;
}

.td-card__overlay--dislike {
  color: tomato;
  right: 0;
}
.spinner svg {
  width: 50px;
  height: 50px;
  stroke: #CCFF33;
  fill: #CCFF33;
}
.loading-text {
  color: #CCFF33;
}
