<ion-view title="About Us" class="overAll">
  <ion-content>
    <div class="aboutIntro">
      <h1>CRPT</h1>
      <h4>CRPT (pronounced Crypt or Carpet, we go both ways) is comprised of four members and is based out of Los Angeles</h4>
      <h6>ffit is an open source project aimed at helping like minded fitness enthusiasts find eachother and track progress and goals. The project is available <a href="https://github.com/CRPT-FIT/crptFit">HERE</a> on gihub and any feedback or improvements are welcome.</h6>
    </div>
    <hr class="aboutLine"/>
    <div class="aboutMembers">
      <h4>Our Team</h4>
      <div class="aboutC leftPro secondaryAll">
       <div class="row aboutRow">
          <div class="col col-33 col-offset-33">
            <h5>Chris</h5>
          </div>
        </div>
        <div class="row aboutRow">
          <div class="col col-50">
            <img class="leftProPic" src="http://tinyurl.com/q4s2gfu"></img>
            <a href="" class="icon ion-social-github"></a>
            <a href="" class="icon ion-social-linkedin"></a>
          </div>
          <div class="col col-50">
            I DONT KNOW WHAT TO WRITE HERE
          </div>
        </div> 
      </div>
      <div class="aboutR rightPro secondaryAll">
        <div class="row aboutRow">
          <div class="col col-33 col-offset-33">
            <h5>Ricky</h5>
          </div>
        </div>
        <div class="row aboutRow">
          <div class="col col-50">
            I DONT KNOW WHAT TO WRITE HERE
          </div>
          <div class="col col-50">
            <img class="rightProPic" src="http://tinyurl.com/q4s2gfu"></img>
            <a href="" class="icon ion-social-github"></a>
            <a href="" class="icon ion-social-linkedin"></a>
          </div>
        </div> 
      </div>
      <div class="aboutT leftPro secondaryAll">
        <div class="row aboutRow">
          <div class="col col-33 col-offset-33">
            <h5>Ted</h5>
          </div>
        </div>
        <div class="row aboutRow">
          <div class="col col-50">
            <img class="leftProPic" src="http://tinyurl.com/q4s2gfu"></img>
            <a href="" class="icon ion-social-github"></a>
            <a href="" class="icon ion-social-linkedin"></a>
          </div>
          <div class="col col-50">
            I DONT KNOW WHAT TO WRITE HERE
          </div>
        </div> 
      </div>
      <div class="aboutP rightPro secondaryAll">
        <div class="row aboutRow">
          <div class="col col-33 col-offset-33">
            <h5>Paul</h5>
          </div>
        </div>
        <div class="row aboutRow">
          <div class="col col-50">
            I DONT KNOW WHAT TO WRITE HERE
          </div>
          <div class="col col-50">
            <img class="rightProPic" src="http://tinyurl.com/q4s2gfu"></img>
            <a href="https://github.com/ptkeller" class="icon ion-social-github"></a>
            <a href="https://www.linkedin.com/in/ptkeller" class="icon ion-social-linkedin"></a>
          </div>
        </div> 
      </div>
    </div>
  </ion-content>
</ion-view>
