<ion-view title="Benchpress" ng-controller="ProgressCtrlBench as ctrl" class="overAll">
  <ion-content has-header="true" class='overAll'>
    <highchart id="chart1" config="chartConfig"></highchart>
    <div class="list list-inset overAll">
      <form name="bnchForm" ng-submit="ctrl.pushMe()" class="overAll">
      <label class="item item-input bench-weight overAll">
        <input type="number" style="color:white;" placeholder="How much did you bench" ng-model="ctrl.benchData.weight">Lbs.
      </label>
      <input type="submit" class="genButton" value="Submit">
    </form>
    </div>
  </ion-content>
</ion-view>
