<ion-view title="Benchpress" ng-controller="ProgressCtrlBench as ctrl">
  <ion-content has-header="true">
    <highchart id="chart1" config="chartConfig"></highchart>
    <div class="list list-inset">
      <form name="bnchForm" ng-submit="ctrl.checkMe(ctrl.uId)">
      <label class="item item-input bench-weight">
        <input type="number" placeholder="How much did you bench" ng-model="ctrl.benchData.weight">Lbs.
      </label>
      <input type="submit" value="Submit">
    </form>
    </div>
  </ion-content>
</ion-view>
