<ion-view title="Dashboard">
  <ion-content class="overAll">
  	<div class="row guideButton">
  		<div class="col-50"><a class="neon ion-home" href="#/homepage"></a></div>
  		<div class="col-50"><a class="neon ion-ios-pulse-strong" href="#/profile"></a></div>
  	</div>
  	<div class="row topText">
  		<div class="col-50 icon-text">Home</div>
  		<div class="col-50 icon-text">Profile</div>
  	</div>
  	<div class ="row guideButton">
  		<div class="col-50 icon-text"><a class="neon ion-arrow-graph-up-right" href="#/progress"></a></div>
  	  	<div class="col-50 icon-text"><a class="neon ion-chatbubbles" href="#/messages"></a></div>
  	</div>
  	<div class="row midText">
  		<div class="col-50 icon-text">Progress</div>
  		<div class="col-50 icon-text">Messages</div>
  	</div>
  	<div class="row guideButton">
  		<div class="col-50 icon-text"><a class="neon ion-ios-people" href="#/social"></a></div>
  	  	<div class="col-50 icon-text"><a class="neon ion-arrow-swap" href="#/tinderize"></a></div>
  	</div>
  	<div class="row botText">
  		<div class="col-50 icon-text">Social</div>
  		<div class="col-50 icon-text">Swole Patrol</div>
  	</div>
  </ion-content>
</ion-view>
