<ion-view title="Home" ng-controller="HomeCtrl as ctrl" class="overAll">
  <ion-content has-header="true">
  <ion-refresher pulling-text="Pull To Refresh" on-refresh="console.log('refreshed')" refreshing-icon="ion-loading-c"></ion-refresher>
  <div ng-repeat="update in ctrl.feed" >
    <div class="list card">
  <div class="item item-divider">Challenge Completed!</div>
  <div class="item item-body">
    <!-- <a class="item item-avatar task"> -->
<div class="wrap-newsfeed">
<img class="taskPic" src="{{update.profile_pic}}"/>
<div class-"name-wrap">
<h3>{{update.username}}</h3>

</div>
<div class="item">{{update.tasks[0].description.toUpperCase()}}</div>"
</div>
    <!-- </a> -->
  </div>
</div>
  </ion-content>
</ion-view>
