<ion-view title="Messages" ng-controller="MessagesCtrl as ctrl" ng-init="ctrl.getMessagesById(); ctrl.connect(ctrl.sendHelp)">
  <ion-content id="chat-background" has-header="true" padding="true">
    <ion-list class="list">
      <li ng-repeat="message in ctrl.returnMessage track by $index" ng-class"item item-avatar-left item-text-wrap nopadding bubble">
          <img src="{{ctrl.userImg}}" /> <span class="text">  {{message}} </span>
     </li>
    </ion-list>
  </ion-content>
    <ion-footer-bar class="messageFoot">
      <div class="list messageFoot2">
        <div class="item item-input-inset">
          <div class="item-input-wrapper">
            <form>
            <input id="messageIn" class="messageInput" type="text" placeholder="Type here..." ng-model="ctrl.sendTo.val">
          </form>
          </div>
          <button type="submit" class="messageHandle button button-small" ng-click="ctrl.liveUpdate(ctrl.sendHelp, ctrl.sendTo.val)">
            Send
          </button>
        </div>
      </div>
    </ion-footer-bar>
</ion-view>
