<ion-view title="Messages" ng-controller="MessagesCtrl as ctrl" ng-init="ctrl.showMessageContent()">
  <ion-content has-header="true" padding="true">
    <div class="messageBubble" ng-repeat="message in ctrl.captureMessages track by message">
      {{message}}
    </div>
  </ion-content>
    <ion-footer-bar class="messageFoot">
      <div class="list messageFoot2">
        <div class="item item-input-inset">
          <div class="item-input-wrapper">
            <input class="messageInput" type="text" placeholder="Type here..." ng-model="ctrl.sendTo.val">
          </div>
          <button type="submit" class="button button-small" ng-click="ctrl.sendMessage(ctrl.chat_id, ctrl.sendTo.val); ctrl.showMessages()">
            Send
          </button>
        </div>
      </div>
    </ion-footer-bar>
</ion-view>
