<ion-view view-title="Profile">
  <ion-content has-header="true" padding="true" class="" ng-controller="ProfileCtrl as ctrl">
    <!-- these links do not exist -->
    <div class="profile-pic">
      <img src="https://scontent-dfw1-1.xx.fbcdn.net/hprofile-xpf1/v/t1.0-1/c66.66.828.828/s320x320/1004707_10201797651568674_1905868857_n.jpg?oh=fe2bf5b9bb4787c40103b4e7b3665098&oe=56C1EC08">
    </div>
    <div class="profile-name">
      <h2>Chris Castillo</h2>
    </div>

    <div class="social-container">
      <ul class="row">
        <li class="col">
          <div ng-bind="ctrl.friendCount"></div>
          <div>F</div>
        </li>
        <li class="col">
          <div ng-bind="ctrl.clientCount"></div>
          <div>C</div>
        </li>
        <li class="col">
          <div ng-bind="ctrl.trainerCount"></div>
          <div>T</div>
        </li>
      </ul>
    </div>

    <button class="stats button icon-left ion-arrow-graph-up-right button-positive">  Stats</button>

    <div class="recent-activity">
      <div ng-repeat="update in ctrl.feed" >
        <a class="item item-avatar">
          <img src="https://healthhabits.files.wordpress.com/2008/09/body_builder.gif"/>
          <h3>{{update.username}}</h3>
          <p>{{update.update}}</p>
        </a>
      </div>
    </div>
    
  </ion-content>
</ion-view>
