<ion-view view-title="Profile">
  <ion-content has-header="true" padding="true" class="overAll" ng-controller="ViewProfileCtrl as ctrl">
    <!-- these links do not exist -->
    <div class="profile-pic">
      <img ng-src="{{ctrl.pic}}">
    </div>
    <div class="profile-name">
      <h2 style="color:white;">{{ctrl.username}}</h2>
    </div>

    <div class="social-container" style+"color:white;">
      <ul class="row">
        <li class="col">
          <div ng-bind="ctrl.friendCount"></div>
          <div>F</div>
        </li>
      </ul>
    </div>
    <div class="row">
      <button class="stats button icon-left ion-plus-circled button-positive" ng-click="ctrl.sendFriendRequest()" ng-disabled="ctrl.isFriend">F</button>
      <button class="stats button icon-left ion-plus-circled button-positive">Stats</button>
    </div>

    <div class="recent-activity">
      <div ng-repeat="update in ctrl.feed" >
        <a class="item item-avatar">
          <h3>{{ctrl.username}}</h3>
          <p>completed the task "<span class="completedTask">{{update.description}}</span>"!</p>
        </a>
      </div>
    </div>
    
  </ion-content>
</ion-view>
