<ion-view view-title="Profile">
  <ion-content has-header="true" padding="true" class="" ng-controller="ViewProfileCtrl as ctrl">
    <!-- these links do not exist -->
    <div class="profile-pic">
      <img ng-src="{{ctrl.pic}}">
    </div>
    <div class="profile-name">
      <h2>{{ctrl.username}}</h2>
    </div>

    <div class="social-container">
      <ul class="row">
        <li class="col">
          <div ng-bind="ctrl.friendCount"></div>
          <div>F</div>
        </li>
        <li class="col">
          <div ng-bind="ctrl.clientCount"></div>
          <div>C</div>
        </li>
        <li class="col">
          <div ng-bind="ctrl.trainerCount"></div>
          <div>T</div>
        </li>
      </ul>
    </div>
    <div class="row">
      <button class="stats button icon-left ion-plus-circled button-positive" ng-click="ctrl.sendFriendRequest()">F</button>
      <button class="stats button icon-left ion-plus-circled button-positive" ng-click="ctrl.sendClientRequest()">C</button>
      <button class="stats button icon-left ion-plus-circled button-positive">Stats</button>
    </div>
      <!-- <button class="stats button icon-left ion-arrow-graph-up-right button-positive">  Stats</button> -->

    <div class="recent-activity">
      <div ng-repeat="update in ctrl.feed" >
        <a class="item item-avatar">
          <img src="https://healthhabits.files.wordpress.com/2008/09/body_builder.gif"/>
          <h3>{{update.username}}</h3>
          <p>{{update.update}}</p>
        </a>
      </div>
    </div>
    
  </ion-content>
</ion-view>
