<ion-view title="Progress"  class="overAll">
  <ion-content has-header="true">
  	<div class="row row-top-prog">
  	  <div class="col col-33 col-offset-33">
      	  <a class="icon ion-ios-body neon" href="#/weight"></a>
  	  </div>
  	</div>
  	<div class="row">
  		<div class="col col-33 col-offset-33 progText">
  			Body Weight
  		</div>
  	</div>
  	<div class="row">
  	  <div class="col col-33 col-offset-33">
      	  <a class="icon ion-android-hand neon" href="#/strength"></a>
  	  </div>
  	</div>
  	<div class="row">
  		<div class="col col-33 col-offset-33 progText">
  			Strength
  		</div>
  	</div>
  	<div class="row">
  	  <div class="col col-33 col-offset-33">
      	  <a class="icon ion-android-walk neon" href="#/speed"></a>
  	  </div>
  	</div>
  	<div class="row">
  		<div class="col col-33 col-offset-33 progText">
  			Speed
  		</div>
  	</div>
  	<div class="row">
  	  <div class="col col-33 col-offset-33">
      	  <a class="icon ion-android-done-all neon" href="#/tasks"></a>
  	  </div>
  	</div>
  	<div class="row">
  		<div class="col col-33 col-offset-33 progText">
  			Tasks
  		</div>
  	</div>						
  </ion-content>
</ion-view>
