<ion-view title="Social">
  <ion-content has-header="true" padding="true">
    <div class="tabs-striped tabs-top">

      <div class="row social-menu-container">
        <a class="tab-item active col-25" href="">
          <i class="icon"><span class="social-icon">F</span></i>
        </a>
        <a class="tab-item col-25">
          <i class="icon"><span class="social-icon">T</span></i>
        </a>
        <a class="tab-item col-25">
          <i class="icon"><span class="social-icon">C</span></i>
        </a>
        <a class="tab-item col-25">
          <i class="icon ion-ios-search-strong"></i>
        </a>
      </div>
      
    </div>
  </ion-content>
</ion-view>
