<ion-view title="Social" ng-controller="SocialCtrl as ctrl">
  <ion-content has-header="true" padding="true">
    <div class="tabs-striped tabs-top">
      <!-- Start of social list filtering icons -->
      <div class="row social-menu-container">
        <a class="tab-item col-25" href="#" ng-click="ctrl.showFriends()">
          <i class="icon"><span class="social-icon">F</span></i>
        </a>
        <a class="tab-item col-25" href="#" ng-click="ctrl.showTrainers()">
          <i class="icon"><span class="social-icon">T</span></i>
        </a>
        <a class="tab-item col-25" href="#" ng-click="ctrl.showClients()">
          <i class="icon"><span class="social-icon">C</span></i>
        </a>
        <a class="tab-item col-25" href="#" ng-click="showPopup()">
          <i class="icon ion-ios-search-strong"></i>
        </a>
      </div>
      <!-- Start of social list -->
      <div ng-repeat="person in ctrl.list">
        <a class="item item-avatar" href="#/tab/viewuser" ng-click="renderUserProfile({{fbId}})">
          <img src="https://healthhabits.files.wordpress.com/2008/09/body_builder.gif"/>
          <h3>{{person.username}}</h3>
          <p>{{person.update}}</p>
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
