<ion-tabs class="tabs-icon-top tabs-positive fade-in-not-out">
  <!-- ALL ROUTES NEED TO BE SET -->
  <!-- home Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/homepage">
    <ion-nav-view name="homepage-tab"></ion-nav-view>
  </ion-tab>
  <!-- Profile Tab -->
  <ion-tab title="Profile" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/profile">
    <ion-nav-view name="profile-tab"></ion-nav-view>
  </ion-tab>
  <!-- Search tab -->
  <ion-tab title="Social" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/social">
    <ion-nav-view name="group-tab"></ion-nav-view>
  </ion-tab>
  <!-- Friends Tab -->
  <ion-tab title="Progress" icon-off="ion-arrow-graph-up-right" icon-on="ion-arrow-graph-up-right" href="#/tab/progress">
    <ion-nav-view name="progress-tab"></ion-nav-view>
  </ion-tab>
<!-- Menu Tab -->
  <ion-tab title="Messages" icon-off="ion-chatbubbles" icon-on="ion-chatbubbles" href="#/tab/messages">
    <ion-nav-view name="messages-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
