<ion-view title="Tasks" ng-controller="ProgressCtrlTask as ctrl" ng-init="ctrl.startTasks()" class="overAll">
  <ion-content>
    <p style="color:white;">tap to complete</p>
    <div ng-repeat="task in ctrl.tasks track by $index" ng-click="ctrl.toggle(task)" ng-class="{taskCom : task.toggled}">
      <div class="taskBox" ng-click="ctrl.finishTask(task.id, task)">
        {{task.description}}
      </div>
    </div>
  </ion-content>
    <ion-footer-bar class="messageFoot overAll">
      <div class="list messageFoot2 overAll">
        <div class="item item-input-inset overAll">
          <div class="item-input-wrapper overAll">
            <input class="messageInput overAll taskInput" style="color:white;" type="text" placeholder="Enter Task Here..." ng-model="ctrl.sendTo.val">
          </div>
          <button type="submit" class="button button-assertive" ng-click="ctrl.createTask(ctrl.sendTo.val)">Add Task
          </button>
        </div>
      </div>
    </ion-footer-bar>
</ion-view>
