<ion-view title="Swoll Patrol Finder" ng-controller="CardsCtrl as ctrl" ng-init="ctrl.getLocation()">
  <ion-content has-header="true" scroll="false">
    <div ng-if="ctrl.cardsLoaded">
             <td-cards>
               <td-card
                 id="td-card"
                 class="td-card td-card--index-{{$index}}"
                 ng-repeat="card in ctrl.cards"
                 on-transition-left="ctrl.cardDislike(card)"
                 on-transition-right="ctrl.cardLike(card)"
                 on-transition-out="ctrl.fadeCard()"
                 on-destroy="ctrl.removeCard($index)"
               >
                 <div class="card">
                   <figure class="item item-image">
                     <img ng-src="{{card.image}}">
                     <div class="td-card__overlay td-card__overlay--dislike no-text">Dislike</div>
                     <div class="td-card__overlay td-card__overlay--like yes-text">Like</div>
                     <p class="name"> {{card.name}}</p>
                   </figure>
                 </div>
               </td-card>
             </td-cards>
           </div>
  </ion-content>
</ion-view>
