<ion-view title="Weight" class="overAll">
  <ion-content has-header="true">
    <highchart id="chart1" config="chartConfig"></highchart>
    <form name="wgtForm" ng-submit="ctrl.pushMe()">
    	<label class="item item-input weight-body overAll">
      	<input type="number" placeholder="How much do you weigh today?" style="color:white" ng-model="ctrl.weight.weight"><span class="text">Lbs.</span>
    	</label>
    	<button type="submit" class="button button-assertive">Submit</button>
  	</form>
  </ion-content>
</ion-view>
