<ion-view title="Weight" ng-controller="ProgressCtrlWgt as ctrl" class="overAll">
  <ion-content has-header="true">
    <highchart id="chart1" config="chartConfig"></highchart>
    <form name="wgtForm" ng-submit="ctrl.pushMe()">
    <label class="item item-input weight-body overAll">
      <input type="number" placeholder="How much do you weigh today?" ng-model="ctrl.weight.weight">Lbs
    </label>
    <input type="submit" class="genButton" value="Submit">
  </form>
  </ion-content>
</ion-view>
